.content
  .left-side-bar
    %progress{value: @progress['value'], max: @progress['max']}
    .div="#{@progress['value']} von #{@progress['max']} Großstädten besitzen bereits ein Open Data Portal"
    .select--category
      %select.form-control#category
        %option heal
        %option envi
        %option agri
        %option soci
        %option educ
        %option ener
        %option just
        %option tran
        %option econ
        %option tech
        %option regi
        %option geo
      =button_to 'Anzeigen', '#', {id: "switch-category", class:"button", method: :get}

    = content_tag :div, class: "city-data", data: {cities: @feature_collection, city_values: @city_values} do
      = puts "Passing the City Data to Javascript"
    .details.hide
    %select.form-control#metric
      %option openness_quality
      %option access_quality
      %option quality
      %option sum_of_datasets
      %option format_quality
      %option completeness_quality

  .main--map#mapid


= javascript_include_tag "maps"
